body{
    background:#000 ;
}
section{
    margin-bottom: 20px;
}
header{
    position: relative;
    margin-bottom: 0;
    padding-bottom: 120px;
}
textarea{
    position: relative;
    display: block;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 1.4em;
    caret-color: #000;
    border-color: #800080;
    outline: var(--primary-clr);
    padding: 10px;
    word-spacing: 0px;
    margin-bottom: 0;
}

form{
    margin-top: 0;
    padding-bottom: 130px;
}
.feedback{
    background: var(--primary-clr);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup{
    position: relative;
    z-index: 10;
}
label{
    margin-left: 50px;
    line-height: 30px;
    font-size: 20px;
}
input:first-child{
    margin-top: 30px;
}
input{
    display: block;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 10px;
    width:85% ;
    background: transparent;
    letter-spacing: 0.1em;
    border: none;
    color: #fff;
    box-shadow: none;
    outline: none;
    font-size: 1em;
}
.inputBox{
    position: relative;
    width: 100%;
} 
input::placeholder{
    color: #ffffff;
}

 .inputBox i{
    position: absolute;
    width: 80%;
    height: 2px;
    background: #fff;
    left: 12%;
    top: 85%;
    overflow: hidden;
    border: none;
}
.inputBox i::before{
    height: 150%;
    width: 100%;
    overflow: hidden;
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #ff1b69,#ff0,#2196f3,#9c27b0,#ff1b69);
    animation: input 2s linear infinite;
} 
@keyframes input {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 250px;
    }
}
input[type="submit"]{
    position: relative;
    padding: 15px;
    width: 85%;
    background-color: #fff;
    color: var(--secondary-clr);
    font-size: 1rem;
    border: 1px solid  var(--primary-clr);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 10;
    transition: background-color .5s ease-in-out;
    transition-delay: .2s;
    box-shadow: 15px 15px rgba(0,0,0,.1);
}
input[type="submit"]:hover{
    background-color: var(--secondary-clr);
    color: white;
    border-color: #fff;
    letter-spacing: .3em;
}
form span{margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    font-weight: 500;
    font-size: 0.75em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 5px 0;
    text-align: center;
    z-index: 15;
}
span.valid{
    visibility: hidden;
}
#popup,.reach-out p{
    font-size: 20px;
    text-align: center;
    padding:0 5px 0;
}
#popup{width: 400px;
    background-color: #fff;
    color: #333;
    padding: 15px;
    border-radius: 6px;
    position: absolute;
    top:-75%;
    left: 50%;
     transform: translate(-50%,-50%) scale(.1);
    visibility: hidden;
    transition: transform 0.5s, top 0.5s; 
}
#popup.open-popup{
    z-index: 10;
    top: 50%;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}
.alert{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
#popup input{width: 25%;
    cursor: pointer;
    font-family:'Poppins', serif;
    justify-content: center;
    background-color: var(--secondary-clr);
    color: #fff;
    font-size: 18px;
    border-color: var(--primary-clr);
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
#popup input:last-child{
    margin-top: 23px;
}
#popup h3{
    margin:-20px auto 10px ;
    font-weight: 500;
    font-size: 30px;
}
i{position: relative;
    top: -35px;
    font-size: 40px;
    color: var(--secondary-clr);
    background-color: #fff;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.reach-out{
    margin-top: 0;

}
.reach-out p{
    margin-top: 10px;
    line-height: 25px;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 183px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: var(--primary-clr);
}
.colors{
    position: absolute;
    background: #fff;
    top: 100%;
    right: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.colors span{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    background: var(--clr);
    border-radius: 50%;
    cursor: pointer;
}
.clr{
    border: 2px solid #000;
    scale: 1.5;
    transition: .5s;
}
/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave svg {
        width: calc(100% + 1.3px);
        height: 195px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .colors{
        top: 130%;
        right: 0%;
    }
    .wave svg {
        width: calc(100% + 1.3px);
        height: 185px;
    }
    input{
        width: 80%;
    }
    input[type="submit"]{
        width: 80%;

    }
}
.wave-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 280px;
    z-index: -999;
}

.wave-2 .shape-fill {
    fill: #000000;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave-2 svg {
        width: calc(100% + 1.3px);
        height: 175px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave-2 svg {
        width: calc(100% + 1.3px);
        height: 126px;
    }
}
@media (max-width:450px) {
    #popup{
        width: 300px;
    }
    #popup h3{
        font-size: 25px;
    }
    #popup input{
        width: 25%;
    }
    .colors{
        right:auto ;
        width: 45px;
    }
}
