html{
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
body{
    margin: 0;
}
*,*::before,*::after{
    box-sizing: inherit;
} 
.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}
.panel{background: #6b0f9c;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,.1);
    color:#000;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    transition: 
    font-size .7s cubic-bezier(0.61, -0.19, 0.7, -0.11), 
    flex .7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;  
    background-position: center;
}
.panel>*{width: 100%;
    flex: 1 0 auto;
    margin: 0;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel p{
    text-transform: uppercase;
    font-family: 'Amatic SC',cursive;
    text-shadow: 2px 2px rgba(0,0,0,.3);
    background: linear-gradient(235deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation:move  10s linear infinite;
}
@keyframes move {
    to{
      background-position: 400%;
    }
  }
  .panel p:nth-child(2){
      font-size: 4em;
  }
  .panel>*:first-child{
      transform: translateY(-100%);
  }
  .panel>*:last-child{
      transform: translateY(100%);
  }
  .panel.open-active>*:first-child{
      transform: translateY(0);
      font-size: 2em;
      opacity: 1;
    }
    .panel.open-active>*:last-child{
        transform: translateY(0);
        font-size: 2em;
        opacity: 1;
  }
  .panel.open{
      flex: 5;
      font-size: 40px;
  }
.panel1{
    background-image: url(../images/businessPage.png);
}
.panel2{
    background-image: url(../images/weatherApp.png);
}
.panel3{
    background-image: url(../images/She-codes.png);
}
.panel4{
    background-image: url(../images/split.png);
}
@media only screen and (max-width:800px) {
    .panels{
        flex-direction: column;
    }
    .panel>*:first-child,.panel>*:last-child{
        opacity: 0;
        overflow: hidden;
    }
    .click{
        text-decoration: underline #fff;
    }
    .panel{
        border-bottom: 10px solid #ffc600;
    }
}